## Ch02 기본적인 추천시스템

### 2.1 데이터 읽기

사용되는 데이터는 공개된 데이터로 MovieLens 100K 데이터를 사용한다.
> u.user : 사용자 데이터  
u.item : 영화 데이터  
u.data : 영화평가(rating) 데이터

In [8]:
import pandas as pd

# u.user 데이터
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('./data/u.user', sep = '|', names = u_cols)
users = users.set_index('user_id')
users.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [ ]:
# u.item 데이터
i_cols = ['movie']